/node_modules
/src
/docs

/dist/metafile-cjs.json
/dist/metafile-esm.json
/dist/metafile-iife.json

/.github

.env
.DS_Store
.gitignore

pnpm-lock.yaml
package-lock.json

tsconfig.json
tsup.config.ts
typedoc.json